<!-- <div class="content mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <img src="" title="buger"/>
      <span class="mdl-layout-title">{{title}}</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" [routerLink]="links.home">Home</a>
        <a class="mdl-navigation__link" [routerLink]="links.items">Defects</a>
        <a class="mdl-navigation__link" [routerLink]="links.widgets">Bid</a>
        <a class="mdl-navigation__link" [routerLink]="links.users">My Account</a>
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content page-content">
    <router-outlet></router-outlet>
  </main>
</div> -->
<div class="main-bg">
  <div class="logo">
    <img src="./assets/Bugr-logo.svg"/>
  </div>
  <div class="main-wrapper">

    <div class="actions-wrapper"></div>
    <div class="app-body">
       <app-home></app-home>
      <div class="header">header</div>
      <div class="content">
        <div class="column">column 1</div>
        <div class="column">column 2</div>
        <div class="column">column 3</div>
      </div>
      <div class="footer">footer</div>
    </div>
  </div>
</div>
