<div class="main-bg">
  <div class="logo">
    <img src="./assets/Bugr-logo.svg"/>
  </div>
  <div class="main-wrapper">

    <div class="actions-wrapper">
      <ul>
        <li><img src="../assets/User_white.svg"/></li>
        <li><img src="../assets/Defects Copy.svg"/></li>
        <li><img src="../assets/Defects.svg"/></li>
      </ul>
    </div>
    <div class="app-body">
       <app-home></app-home>
      <div class="header">header</div>
      <div class="content">
        <div class="column">column 1</div>
        <div class="column">column 2</div>
        <div class="column">column 3</div>
      </div>
      <div class="footer">footer</div>
    </div>
  </div>
</div>
