/* @font-face {
    font-family: alba;
    src: url("../assets/ALBA.TTF");
}
 */

.main-bg {
    background-image: url("../assets/iStock-540832992.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 1000px;
    overflow: hidden;
    position: relative;
}

.logo {
    /*  font-family: alba; */
    position: absolute;
    top: 10px;
    left: 15px;
}

.main-wrapper {
    position: relative;
    margin: 75px auto 0 auto;
    width: 669px;
    height: 600px;
}

.app-body {
    position: absolute;
    background-color: white;
    min-width: 738px;
    min-height: 608px;
}

.actions-wrapper {
    background-color: #49484D;
    box-shadow: 0 1px 3px 1px rgba(87, 86, 86, 0.5);
    height: 531px;
    width: 127px;
    position: absolute;
    top: 36px;
    left: -110px;
}

.actions-wrapper ul {
    position: absolute;
    z-index: 2;
    padding: 0px 0 0 33px;
}

.actions-wrapper ul li {
    margin: 51px 0 140px 0;
    cursor: pointer;
}