<div class="main-bg">
  <div class="logo">
    <img src="./assets/Bugr-logo.png"/>
  </div>
  <div class="main-wrapper">

    <div class="actions-wrapper">
      <ul>
        <li><a [routerLink]="links.home"><img src="../assets/User_white.svg"/></a></li>
        <li><a [routerLink]="links.defects"><img src="../assets/Defects Copy.svg"/></a></li>
        <li><img src="../assets/Defects.svg"/></li>
      </ul>
    </div>
    <div class="app-body">
       <router-outlet></router-outlet>
    </div>
  </div>
</div>
