.home-container {
    .item-card {
        margin-bottom: 10px;
    }
    .avatar {
        border-radius: 1000px;
        height: 100px;
        width: 100px;
        background: none;
        border: none;
        background-color: transparent;
        margin-top: 40px;
        margin-left: 40px;
    }
    .user-name {
        margin-top: 60px;
        font-size: 30px;
    }
    .points-display {
        margin-right: 20px;
        .points {
            height: 145px;
            width: 95px;
            padding-left: 10px;
            span {
                color: white;
                font-size: 65px;
                vertical-align: middle;
            }
            .my-points {
                font-size: 15px;
                padding-left: 3px;
            }
            background-image: url("../../assets/Combined_Shape.svg");
        }
    }
    .avatar {
        border-radius: 1000px;
        height: 100px;
        width: 100px;
        background: none;
        border: none;
        background-color: transparent;
        margin-top: 40px;
        margin-left: 40px;
    }
    .user-name {
        margin-top: 60px;
        font-size: 30px;
    }
    .points-display {
        margin-right: 20px;
        .points {
            height: 145px;
            width: 95px;
            span {
                color: white;
                font-size: 65px;
                vertical-align: middle;
            }
            .my-points {
                font-size: 15px;
            }
            background-image: url("../../assets/Combined_Shape.svg");
        }
    }
    h5 {
        margin: 0;
    }
    .mdl-card__supporting-text {
        width: auto;
    }
    .header {
        height: 200px;
    }
    .content {
        display: flex;
        height: 318px;
        margin: 20px 20px 20px 42px;
    }
    .column {
        flex-grow: 1;
        .col-header {
            height: 27px;
            width: 100%;
            color: #24C0D7;
            font-size: 20px;
            line-height: 27px;
            margin-bottom: 10px;
        }
    }
    .footer {
        height: 80px;
        .foot-btn {
            height: 43px;
            width: 170px;
            border-radius: 47px;
            background: linear-gradient(180deg, #82DBEF 0%, #21CADF 100%);
            float: right;
            margin: -36px 52px 0 0;
        }
        .lbl-btn {
            color: white;
            line-height: 40px;
            padding-left: 26px;
        }
    }
}