<div class="home-container">
  <div>

    <div class="header row">
      <div class="col-sm-6 user">
      <img class="avatar pull-left" src="./assets/avatar.jpg"/>
        <div class="col-sm-6">
            <div class="user-name">full name</div>
            <div class="sign-out-edit">
              <a href="">Sign out</a> | <a href="">Edit</a>
            </div>

        </div>
      </div>
      <div class="col-sm-4 pull-right points-display">
        <div class="pull-right points">
          <span>42</span>
          <span class="my-points">my points</span>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="column">
        <div class="col-header">My Last Defects</div>
        <div class="col-list">
          <defects-list [defects]="defectsByUserId$ | async"
                    (selected)="selectDefect($event)">
            
          </defects-list>
        </div>
      </div>
      <div class="column">
        <div class="col-header">Hottest Defects</div>
        <div class="col-list">
          <defects-list [defects]="defectsByPopularity$ | async"
                    (selected)="selectDefect($event)">
            
          </defects-list>
        </div>
      </div>
      <div class="column">
        <div class="col-header">Top Solvers</div>
        <div class="col-list">
          <app-users-list [users]="users$ | async"
                    (selected)="selectUser($event)"
                    (deleted)="deleteUser($event)">
          </app-users-list>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="foot-btn">
        <label class="lbl-btn">View My Defects</label>
      </div>
    </div>
    <!--<div class="mdl-card__supporting-text">-->
      <!--<div class="mdl-grid">-->
        <!--<div class="mdl-cell&#45;&#45;6-col sub-list">-->
          <!--<h5>Items</h5>-->
          <!--<ul>-->
            <!--<li *ngFor="let item of userData.items">-->
              <!--<strong>{{item.name}}</strong> – {{item.description}}-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--<div class="mdl-cell&#45;&#45;6-col sub-list">-->
          <!--<h5>Widgets</h5>-->
          <!--<ul>-->
            <!--<li *ngFor="let widget of userData.widgets">-->
              <!--<strong>{{widget.name}}</strong> – {{widget.description}}-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>

</div>
